.header-photo {
    display: flex;
    padding: 2%;
    justify-content: space-between;
  
}

.header-photo a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.header2 {
    font-weight: bold;
    border-radius: 4px;
    background-color: #86edfd;
    border: 1px solid #86edfd;
    margin-right: 1%;
}

.header-album-container {
    width: 22%;
    display: flex;
    
}

.header-album {
    display: flex;
    flex: 1;
    align-items: center;
  
}

.photo-image  {
    width: 46%;
    margin:2%;
}

.container1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
    }
.container2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
}

.images-container  {
    display:flex;
    width: 243px;
    flex-wrap: wrap;
    padding: 40px;
   border: 1px solid lightgray;
   margin-top: 20px;
   background-color: white;
}
.header {
    width:90%;
    font-size:smaller;
}